#ticket-form {
    font-size: xx-large;
    font-weight: 700;
    margin-top: 50px;
}

#ticket-table {
    font-size: x-large;
    font-weight: 900;
    width: 100%;
}

.ticket-table-item {
    padding-right: 200px;
    padding-bottom: 20px;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
}

#select-search {
    font: inherit;
    font-size: 20px;
    height: 40px;
    width: 20%;
}

#select-menu {
    width: 200px;
    font: inherit;
    color: inherit;
    border: none;
}

